@{
    @using WAMA.Core.Models.DTOs;

    @model WAMA.Core.ViewModel.User.UserAccountViewModel
    string memberId = (Model?.MemberId) ?? ViewBag.MemberId;
    UserAccountType activeType;
    Enum.TryParse($"{ViewBag.AccountType}", out activeType);
    activeType = Model?.AccountType ?? activeType;

    var accountTypes = Html.GetEnumSelectList<UserAccountType>()
    .Where(selectListItem => selectListItem.Text.Equals($"{UserAccountType.Unknown}") == false)
    .Select(selectListItem =>
    {
        if (selectListItem.Text.Equals($"{activeType}"))
        {
            selectListItem.Selected = true;
        }
        return selectListItem;
    });
}

<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">

    @Html.Partial("DisplayError")
    <form asp-action="@nameof(WAMA.Web.Controllers.UserToolController.CreateNewUserAccount)" asp-antiforgery="true" method="post">
        <div class="form-group col-xs-12">
            <label asp-for="AccountType"></label>
            <select asp-for="AccountType"
                    asp-items="@accountTypes"
                    class="form-control"></select>
        </div>
        <div class="form-group col-xs-12">
            <label asp-for="MemberId"> </label>
            <input asp-for="MemberId"
                   class="form-control"
                   pattern="[0-9]{6, 7}"
                   title="Member ID must be in number and 7 digit long."
                   value="@memberId" />
        </div>
        <div class="form-group col-xs-12">
            <label asp-for="FirstName" class="required"></label>
            <input asp-for="FirstName" class="form-control" pattern="^[a-zA-Z\s]+$" title="Letters only!" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-12">
            <label asp-for="LastName" class="required"></label>
            <input asp-for="LastName" class="form-control" pattern="^[a-zA-Z\s]+$" title="Letters only!" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-12">
            <label asp-for="MiddleName"></label>
            <input asp-for="MiddleName" class="form-control" pattern="^[a-zA-Z\s]+$" title="Letters only!" />
        </div>
        <div class="form-group col-xs-12">
            <label asp-for="Email" class="required"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-12">
            <label asp-for="Gender"></label>
            <select asp-for="Gender" asp-items="@Html.GetEnumSelectList<Gender>()" class="form-control"></select>
        </div>
        <div class="form-group col-xs-12">
            <label asp-for="InstitutionAffiliation"></label>
            <select asp-for="InstitutionAffiliation" asp-items="@Html.GetEnumSelectList<InstitutionAffiliation>()" class="form-control"></select>
        </div>
        <div class="form-group col-xs-12" asp>
            <button type="submit" class="btn btn-lg btn-success">Add New User</button>
        </div>
    </form>
</div>