@using WAMA.Core.ViewModel;
@using WAMA.Core.ViewModel.User;
@using WAMA.Core.Models.DTOs;
@using WAMA.Web.Controllers;
@using WAMA.Web.Model;
@using WAMA.Core.Extensions;

@model IEnumerable<CertificationViewModel>

@{
    var controllerName = nameof(UserToolController).StripController();
    var userAccount = ((PatronUserAccountViewModel)ViewBag.UserAccount);

    if (userAccount.AccountType == UserAccountType.Patron)
    {
        <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
            @Html.Partial("DisplayAlerts")
            @Html.Partial("ViewAccountNavigationTab", userAccount)

            <div>
                <table class="table table-bordered" id="@Constants.DATA_TABLE">
                    <thead>
                        <tr>
                            <th>@Html.LabelFor(x => x.ElementAt(0).Type)</th>
                            <th>@Html.LabelFor(x => x.ElementAt(0).CertifiedOn)</th>
                            <th>@Html.LabelFor(x => x.ElementAt(0).ExpiresOn)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Type</td>
                                <td>@($"{item.CertifiedOn:D}")</td>
                                <td>@($"{item.ExpiresOn:D}")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <a href="AddCertification?memberid=@ViewBag.MemberId" class="btn btn-success">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Add Certification
                </a>
                <a href="DeleteCertification?memberid=@ViewBag.MemberId" class="btn btn-danger hidden">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete Certification
                </a>
            </div>
        </div>
    }
    else
    {
        <h1>Nothing to show in here</h1>
    }
}