@using WAMA.Core.ViewModel;
@using WAMA.Core.ViewModel.User;
@using WAMA.Web.Model;

@model IEnumerable<WaiverViewModel>

<div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
    @Html.Partial("DisplayAlerts")
    @Html.Partial("ViewAccountNavigationTab", (UserAccountViewModel)ViewBag.UserAccount)

    @if (Model.Any() == false)
    {
        <h1>Nothing to show in here</h1>
    }
    else
    {
        <div>
            <table class="table table-bordered" id="@Constants.DATA_TABLE">
                <thead>
                    <tr>
                        <th>@Html.LabelFor(x => x.ElementAt(0).Signature)</th>
                        <th>@Html.LabelFor(x => x.ElementAt(0).Date)</th>
                        <th>@Html.LabelFor(x => x.ElementAt(0).Time)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var checkinActivity in Model)
                    {
                        <tr>
                            <td>@checkinActivity.Signature</td>
                            <td>@checkinActivity.Date</td>
                            <td>@checkinActivity.Time</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>