@using WAMA.Web.Model;
@using WAMA.Core.ViewModel;

@{
    @model AdminConsoleHomeViewModel
}

<div class="">
    <h3 class="">
        Patrons currently checked-in: <a href="#">@Model.NumberOfPatronCheckinsToday</a>
    </h3>

    <h3 class="">
        Employee Currently checked-in: <a href="#">@Model.NumberOfNonPatronCheckinsToday</a>
    </h3>

    <h3 class="">
        Accounts Pending Approval: <a href="#"> @Model.NumberOfPatronsPendingApprobal</a>
    </h3>

    <h3 class="">
        Accounts with Expired Certification: <a href="#"> @Model.NumberOfExpiredCertifications</a>
    </h3>

    <h3 class="">
        Certification Expiring in the Next Week:<a href="#">@Model.NumberOfCertificationsExpiringInTheNextWeek</a>
    </h3>

    <h3 class="">
        Accounts Temporary Suspended: <a href="#">@Model.NumberOfSuspendedPatrons </a>
    </h3>
</div>