@using WAMA.Core.ViewModel.User;

@model UserAccountViewModel

<div class="row">
    <div class="col-xs-10">
        <p class="col-xs-12 col-md-4">@Html.LabelFor(x => Model.MemberId)</p>
        <p class="col-xs-12 col-md-8">@Model.MemberId</p>
    </div>
    <div class="col-xs-10">
        <p class="col-xs-12 col-md-4">@Html.LabelFor(x => Model.FirstName)</p>
        <p class="col-xs-12 col-md-8">@Model.FirstName</p>
    </div>
    <div class="col-xs-10">
        <p class="col-xs-12 col-md-4">@Html.LabelFor(x => Model.LastName)</p>
        <p class="col-xs-12 col-md-8">@Model.LastName</p>
    </div>
    <div class="col-xs-10">
        <p class="col-xs-12 col-md-4">@Html.LabelFor(x => Model.MiddleName)</p>
        <p class="col-xs-12 col-md-8">@Model.MiddleName</p>
    </div>
    <div class="col-xs-10">
        <p class="col-xs-12 col-md-4">@Html.LabelFor(x => Model.Email)</p>
        <p class="col-xs-12 col-md-8">@Model.Email</p>
    </div>
    <div class="col-xs-10">
        <p class="col-xs-12 col-md-4">@Html.LabelFor(x => Model.Gender)</p>
        <p class="col-xs-12 col-md-8">@Model.Gender</p>
    </div>
    <div class="col-xs-10">
        <p class="col-xs-12 col-md-4">@Html.LabelFor(x => Model.HasBeenApproved)</p>
        <p class="col-xs-12 col-md-8">@Model.HasBeenApproved</p>
    </div>
    <div class="col-xs-10">
        <p class="col-xs-12 col-md-4">@Html.LabelFor(x => Model.IsSuspended)</p>
        <p class="col-xs-12 col-md-8">@Model.IsSuspended</p>
    </div>
    <div class="col-xs-10">
        <p class="col-xs-12 col-md-4">@Html.LabelFor(x => Model.InstitutionAffliation)</p>
        <p class="col-xs-12 col-md-8">@Model.InstitutionAffliation</p>
    </div>
</div>