@using WAMA.Core.ViewModel;
@using WAMA.Web.Model;

@Html.Partial("DisplayError")

@{

    if (!(Model is IEnumerable<CheckInActivityViewModel>))
    {
        var dummyFilter = new ReportToolFilterViewModel
        {
            StartDate = new DateTimeOffset(2017, 1, 1, 0, 0, 0, TimeSpan.FromHours(0)),
            EndDate = DateTimeOffset.Now
        };

        @Html.Partial("ReportToolFilter", dummyFilter);
    }
    else
    {
        @model IEnumerable<CheckInActivityViewModel>

        <a href="">filter</a>
        if (object.Equals(Model, null) || Model.Any() == false)
        {
            <h4 class="text-danger">No check-in activities</h4>
        }
        else
        {
            <div>
                @foreach (var group in Model.GroupBy(checkInActivity => checkInActivity.CheckInDateTime.Date))
                {
                    <div>
                        <h4>@group.Key.ToString("D")</h4>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="no-wrap-text">@Html.LabelFor(x => x.ElementAt(0).MemberId)</th>
                                    <th class="no-wrap-text">@Html.LabelFor(x => x.ElementAt(0).Time)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var checkInActivity in group.OrderBy(ci => ci.CheckInDateTime))
                                {
                                    <tr>
                                        @*<td>@string.Format("{0} {1} ({2})", item.Member.FirstName, item.Member.LastName, item.MemberId)</td>*@
                                        <td class="no-wrap-text">@checkInActivity.MemberId</td>
                                        <td class="no-wrap-text">@checkInActivity.Time</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        }
    }
}