@using WAMA.Core.ViewModel;

@{
    @model CheckInReportResultViewModel
    var checkIns = Model.IndividualCheckInActivities;

    if (Equals(checkIns, null) || checkIns.Any() == false)
    {
        <h4 class="text-danger">No check-in activities</h4>
    }
    else
    {
        <div>
            @foreach (var group in checkIns.GroupBy(checkInActivity => checkInActivity.CheckInDateTime.Date).OrderBy(group => group.Key))
            {
                <div>
                    <h4>@group.Key.ToString("D")</h4>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="no-wrap-text">@Html.LabelFor(x => checkIns.ElementAt(0).MemberId)</th>
                                <th class="no-wrap-text">@Html.LabelFor(x => checkIns.ElementAt(0).Time)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var checkInActivity in group.OrderBy(ci => ci.CheckInDateTime))
                            {
                                <tr>
                                    <td class="no-wrap-text">@checkInActivity.MemberId</td>
                                    <td class="no-wrap-text">@checkInActivity.Time</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    }
}