@using WAMA.Core.ViewModel.User;
@using WAMA.Web.Model;
@using WAMA.Core.Extensions;

@model IEnumerable<UserAccountViewModel>

@{
    if (Equals(Model, null) || Model.Any() == false)
    {
        <h4 class="text-danger">No @ViewData[Constants.USER_ACCOUNT_TYPE] user accounts found</h4>
    }
    else
    {
        var controller = nameof(WAMA.Web.Controllers.UserToolController).StripController();
        var action = nameof(WAMA.Web.Controllers.UserToolController.ViewAccount);
        
        <table class="table table-bordered" id="@Constants.DATA_TABLE">
            <thead>
                <tr>
                    <th>@Html.LabelFor(x => x.ElementAt(0).MemberId)</th>
                    <th>@Html.LabelFor(x => x.ElementAt(0).FirstName)</th>
                    <th>@Html.LabelFor(x => x.ElementAt(0).LastName)</th>
                    <th>@Html.LabelFor(x => x.ElementAt(0).Email)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">
                            <a asp-controller="@controller"
                               asp-action="@action"
                               asp-route-memberid="@item.MemberId">@item.MemberId</a>
                        </th>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td class="no-wrap-text"><a href="mailto:@item.Email">@item.Email</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
}